PUBLIC_URL='http://127.0.0.1'

FRONTEND_PORT='3000'
NODE_ENV='development'

BACKEND_PORT='8000'
DJANGO_SETTINGS_MODULE='api_crud.settings.dev'
BACKEND_SECRET_KEY='asdfkjewn5xjh22'

POSTGRES_USER='postgres'
POSTGRES_PASSWORD='password'
POSTGRES_PORT=5432

AWS_ACCOUNT_ID='1234asdf'

